@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2 linear;
}
body.show {
  visibility: visible;
  opacity: 1;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu {
  background-color: #f09;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
}

.menu-left {
  font-size: 22px;
}

.menu-right {
  display: flex;
  align-items: center;
}

.menu-right div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 5px;
}

.menu-right div svg {
  font-size: 22px;
}
.list-group {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 0%;
  max-width: 300px;
  height: 0px;
  background-color: #fff;
  outline: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 20%);
  visibility: hidden;
  overflow: hidden;
  transition: all 0.17s linear;
}

.list-group.show {
  visibility: visible;
  width: 65%;
  height: 150px;
}
.list-group li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 15px;
  white-space: nowrap;
}
.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.contentapp {
  height: calc(100% - 50px);
  position: relative;
}

.contentapp h2.title {
  margin-left: 10px;
  padding-top: 30px;
}

.contentapp .number {
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.navigation {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;
  right: 0px;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.navigation .li {
  height: 100%;
  flex: 1;
  background-color: #f09;
  margin: 0 5px;
  color: #fff;
  transition: all 0.2s linear;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: 0 2px 2px 0 rgba(255, 0, 85, 0.34),
    0 3px 1px -2px rgba(255, 0, 85, 0.32), 0 1px 5px 0 rgba(255, 0, 85, 0.4);
  color: #fff;
}

.navigation .li#li1 {
  position: absolute;
  bottom: 60px;
  left: 20px;
  background-color: #f09;
}

.navigation .li#li2 {
  position: absolute;
  bottom: 60px;
  right: 50%;
  transform: translateX(60%);
  background-color: #f00;
}
.navigation .li#li2 .unlock {
  display: none;
}
.navigation .li#li3 {
  position: absolute;
  bottom: 60px;
  right: 20px;
  background-color: #f09;
}
